body,html{
    margin:0px;
}

*{
    font-family: monospace;
    color: white;
}

.star::after{
    font-size: 1.2rem;
    content: "â­";
    position: absolute;
    right:-8px;
    top:-10px;
    transform: rotate(6deg);
}

.star:hover::after{
    font-size: 1.3rem;
}

main{
    width: 100%;
    height: 100%;
    min-width: 800px;
    min-height: 1000px;
    justify-content: center;
    align-items: center;
    display: flex;
}

div#moveableRoot{
    margin-top: 2rem;
    width: 800px;
    height: 1000px;
    position: relative;
    border: 1px white solid; 
    background: linear-gradient(#07070773,#17171773);
}


body{
    background: rgb(0, 0, 0);
    background-image: linear-gradient(#ffffff5f .1em, transparent .1em), linear-gradient(90deg, #ffffff5f .1em, transparent .1em);
    background-size:2em 2em;
}

.moveable{
    cursor: move;
    position:absolute;
    margin: 0px;
    padding: 1.5rem;
    border: 1px white solid;
    background-color: rgb(7, 7, 7);

    opacity: 0.0;
    transition: opacity .3s, background-color .3s;
}
.moveable>*{
   margin:0px;
}
.moveable *::selection,img::selection{
    background-color: none;
}

.moveable:hover{
    opacity: 1 !important;
    background-color: black;

}

.moveable[held]{
    filter: invert();
}

button:hover{
    cursor: pointer !important;
    scale:1.05;
}
a{
    color:#aad3e1;
}
a:hover{
    cursor:alias !important;
    color:#76c8e3;
}

a,h1,h2,h3,h4,h5,h6,p,button{
    display: inline-block;
    width: max-content;
}


h1:hover,h2:hover,h3:hover,p:hover{
    transition: transform .1s;
    transform:rotate(5deg);
    text-decoration:underline;
    cursor: default;
}

#projectTech{
    gap:1rem;
    display: flex; 
    flex-direction: row;
    padding: 1rem;
    border: 1px white solid;
    background-color: rgb(7, 7, 7);
}