body,html{
    margin:0px;
    height: 100vh;
    overflow: hidden;
}

*{
    font-family: monospace;
}

body{
    background: rgb(0, 0, 0);
    background-image: linear-gradient(#ffffff5f .1em, transparent .1em), linear-gradient(90deg, #ffffff5f .1em, transparent .1em);
    background-size:2em 2em;
}

*{
    font-family: monospace;
}

.center{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.row{
    display: flex;
    flex-direction: row;
    gap:1rem
}

#canvas{
    aspect-ratio: 1/1;
    border:1px black solid;
    background-color: white;
    width: 80%;
}
@media (aspect-ratio> 1/1) {
    #canvas {
        width: unset;
        height: 80%;
    }
}

.nomargin{
    margin: 0px;
}

input,button{
    border:2px black solid;
    background-color: white;
    color:black;
    padding: 0.25rem 0.5rem;
    outline:none;
    text-align: center;
}

input{
    background-color: rgb(255, 255, 255);
    color:rgb(90, 90, 90);
}

button{
    cursor: pointer;
}

.smallgap{
    gap:0.25rem;
}
.smallgap>*{
    margin: 0px;
}

.nogap{
    gap:0rem !important;
    padding: 0.25rem !important;
}
.nogap>*{
    margin: 0px;
}

h1,h2,h3,h4,h5,h6{
    border: 2px black solid;
    padding: 0.25rem 0.5rem;
    background-color: white;
    color:black;
}

.minbutton{
    width: fit-content;
    font-size: 0.8rem;
}

[remaining]:after{
    content: attr(remaining);
    position:absolute;
    top: .1rem;
    right: .3rem;
    color:black;
}

.menu{
    position: fixed;
    background-color: #a1b5a6;
    border:2px black solid;
    padding: 1rem;
    gap: 1rem;
    flex-direction: column;
    display: flex;
    box-shadow: 4px 4px rgba(0, 0, 0, 0.5);
}

#deathmenu,#connectionerror,#gameresetmenu{
    display: none;
}

.fixed{
    position: fixed;
}
.nonfixed{
    position: initial !important;
}

.bottom{
    bottom: 1rem;
}

.top{
    top: 1rem;
}

.left{
    left:1rem;
}

.right{
    right: 1rem;
}

#chat{
    width: 20rem;
    max-width: 30rem;
    min-width: 15rem;
    resize: horizontal;
    overflow-x: hidden;
}

#leaderboard{
    width: 10rem;
}

.menu{
    position: fixed;
    display: flex;
    flex-direction: column;
    background-color: #a1b5a6;
    border:2px black solid;
    padding: 1rem;
    gap: 1rem;
    box-shadow: 4px 4px rgba(0, 0, 0, 0.5);
}

.whitebox{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    color:black;
    gap:1rem;
    border:2px black solid;
    padding: 1rem;
}

.whitebox span,.whitebox p{
    color:black;
    display: inline-block;
}

.toggler{
    display: inline-block;
}

#lbList,#chatList{
    display: none;
    flex-direction: column;
    gap:.5rem;
    background-color: white;
    color:black;
    border:2px black solid;
    justify-content: center;
    align-items: center;
    padding: .5rem;
    width: 100%;
    box-sizing: border-box;
}

#chatList{
    max-height: 10rem;
    overflow-y: auto;
    overflow-x: hidden;
}

#lbList *,#chatList *{
    color:black;
}

#lbList div,#chatList div{
    width: 100%;
    margin:0px 0.1rem;
}
#lbList div{
    width: 100%;
    margin:0px 0.1rem;
    display: flex;
    align-items: center;
}

#lbList div span:first-child{
    text-overflow: ellipsis;
    overflow: hidden;
    width: 80%;
}

#highscores span{
    font-size: smaller;
}

.waveText{
    animation-name: upDown;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    color:green;
    display: inline-block;    
    width:100%;
    font-weight: bold;
    font-size: large;
    text-align: center;
}
.waveText:nth-child(1){
    animation-delay: .2s;
}
.waveText:nth-child(2){
    animation-delay: .4s;
}
.waveText:nth-child(3){
    animation-delay: .6s;
}
.waveText:nth-child(4){
    animation-delay: .8s;
}
.waveText:nth-child(5){
    animation-delay: 1s;
}
.waveText:nth-child(6){
    animation-delay: 1.2s;
}
.waveText:nth-child(7){
    animation-delay: 1.4s;
}
.waveText:nth-child(8){
    animation-delay: 1.6s;
}
.waveText:nth-child(9){
    animation-delay: 1.8s;
}
.waveText:nth-child(10){
    animation-delay: 2.0s;
}
.waveText:nth-child(11){
    animation-delay: 2.2s;
}
.waveText:nth-child(12){
    animation-delay: 2.4s;
}


@keyframes upDown {
    to { transform: translatey(20px) rotateZ(15deg);color:black;}
}

[unread=true]::after{
    font-size: 14px;
    content: "❗";
    position: absolute;
    right:2px;
    top:4px;
    transform: rotate(10deg);
}