body,html{
    margin:0px;
    height: 100vh;
    overflow: hidden;
}

*{
    font-family: monospace;
}

body{
    background: rgb(0, 0, 0);
    background-image: linear-gradient(#ffffff5f .1em, transparent .1em), linear-gradient(90deg, #ffffff5f .1em, transparent .1em);
    background-size:2em 2em;
}

*{
    font-family: monospace;
    color: white;
}

.center{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#canvas{
    aspect-ratio: 1/1;
    border:1px black solid;
    background-color: white;
    width: 80%;
}
@media (aspect-ratio> 1/1) {
    #canvas {
        width: unset;
        height: 80%;
    }
}



input,button{
    border:1px black solid;
    background-color: white;
    color:black;
    padding: 0.25rem 0.5rem;
    outline:none;
    text-align: center;
}

input{
    background-color: rgb(255, 255, 255);
    color:rgb(90, 90, 90);
}

button{
    cursor: pointer;
}

[remaining]:after{
    content: attr(remaining);
    position:absolute;
    top: .1rem;
    right: .3rem;
    color:black;
}

.menu{
    position: fixed;
    background-color: grey;
    border:1px black solid;
    padding: 1rem;
    gap: 1rem;
    flex-direction: column;
    display: flex;
}

#deathmenu{
    display: none;
}

#connectionerror{
    display: none;
}

.fixed{
    position: fixed;
}

.bottom{
    bottom: 1rem;
}

.top{
    top: 1rem;
}

.left{
    left:1rem;
}

.right{
    right: 1rem;
}

#chat{
    width: 20rem !important;
}

#leaderboard{
    width: 10rem;
}

.whitebox{
    flex-direction: column;
    align-items: center;
    gap:1rem;
    display: flex;
    background-color: white;
    color:black;
    border:1px black solid;
    padding: 1rem;
}

.border{
    border:1px black solid;
    padding: 0.1rem .5rem ;
}

.whitebox span{
    color:black;
    display: inline-block;
}

#lbList,#chatList{
    display: none;
    flex-direction: column;
    gap:.5rem;
    background-color: white;
    color:black;
    border:1px black solid;
    justify-content: center;
    align-items: center;
    padding: .5rem;
    width: 80%;
}

#chatList{
    max-height: 10rem;
    overflow-y: auto;
    overflow-x: hidden;
}

#lbList *,#chatList *{
    color:black;
}

#lbList div,#chatList div{
    width: 100%;
    margin:0px 0.1rem;
}
#lbList div{
    width: 100%;
    margin:0px 0.1rem;
    display: flex;
    align-items: center;
}

#lbList div span:first-child{
    text-overflow: ellipsis;
    overflow: hidden;
    width: 80%;
}